<script src="https://kit.fontawesome.com/21620e66e1.js" crossorigin="anonymous"></script>

<div id="container">
  <div class="container">

    <div class="row m-0" id="header">
      <img style="width: 10%;margin-right: 280px;" src="https://cdn.iconscout.com/icon/free/png-256/cs-go-2288565-1933810.png">
      <h3 style="width: auto; padding-top: 35px;">Counter-Strike Stats</h3>
    </div>

    <div id="form" class="d-flex justify-content-between mt-3">
        <div>
          <label for="file-upload" class="custom-file-upload btn btn-primary">
            <img style="width: 25%;" src="https://img.icons8.com/pastel-glyph/64/000000/upload-to-cloud--v2.png"/>
            <i class="fas fa-cloud-upload-alt"></i> Carregar DEMO
          </label>
          <input id="file-upload" type="file" (change)="handleFileInput($event)" />
        </div>
        <div *ngIf="messageResult">
          <h3 class="text-muted">{{ messageResult }}</h3>
        </div>
        <div *ngIf="showUploadProgress" class="row m-0">
          <span class="box-progress-bar">Carregando a partida {{ uploadProgress | async | number: '1.2-2'}} %</span>
        </div>
    </div>


    <div id="table" class="mt-2">
      <table class="table table-hover " >
        <thead style="border-radius: 10px;">
          <tr>
              <th scope="col" class="text-center"><img style="width: 20%;" src="https://img.icons8.com/emoji/48/000000/military-helmet.png"/>Jogador</th>
              <th scope="col" class="text-center"><img style="width: 18%;" src="https://img.icons8.com/plasticine/100/000000/gun.png"/>Abates</th>
              <th scope="col" class="text-center"><img style="width: 23%;" src="https://img.icons8.com/color/48/000000/coffin--v1.png"/>Mortes</th>
              <th scope="col" class="text-center"><img style="width: 10%;" src="https://img.icons8.com/color/64/000000/skull-heart--v2.png"/>Dano Médio por Rodada</th>
              <th scope="col" class="text-center"><img style="width: 22%;" src="https://img.icons8.com/fluent/48/000000/wolf.png"/>Clutches</th>
              <th scope="col" class="text-center"><img style="width: 15%;" src="https://img.icons8.com/color/48/000000/horror.png"/>Primeiro Abate</th>
              <th scope="col" class="text-center"><img style="width: 22%;" src="https://img.icons8.com/bubbles/50/000000/define-location.png"/>Funções</th>
          </tr>
        </thead>

        <tbody id="table-body" style="border-radius: 10px;">
            <tr *ngFor="let player of listPlayer">
                <td>{{player.name}}</td>
                <td class="text-center">{{player.killed}}</td>
                <td class="text-center">{{player.death}}</td>
                <td class="text-center">{{player.adr}}</td>
                <td class="text-center">{{player.clutches}}</td>
                <td class="text-center">{{player.firstKills}}</td>
                <td class="text-center" style="border: 0px;">
                  <button class="btn btn-primary btn-info p-0" (click)="createChart(player, template)">
                    Grafico
                  </button>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Gráfico de Radar</h4>
    <button type="button" class="btn btn-primary" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <canvas id="chart"
            baseChart
            [datasets]="radarChartData"
            [options]="radarChartOptions"
            [labels]="['AWPer', 'Lurker', 'Fragger', 'Support']"
            [chartType]="radarChartType">
    </canvas>
  </div>
</ng-template>



