<script src="https://kit.fontawesome.com/21620e66e1.js" crossorigin="anonymous"></script>

<div id="container">
  <div class="container">

    <div class="row m-0 mt-3" style="text-align: center;" id="header">
      <h3>Counter-Strike Stats</h3>

    </div>

    <div id="form" class="d-flex justify-content-between mt-3">
        <div>
          <label for="file-upload" class="custom-file-upload btn btn-primary">
            <img style="width: 25%;" src="https://img.icons8.com/pastel-glyph/64/000000/upload-to-cloud--v2.png"/>
            <i class="fas fa-cloud-upload-alt"></i> Carregar DEMO
          </label>
          <input id="file-upload" type="file" (change)="handleFileInput($event)" />
        </div>
        <div *ngIf="messageResult">
          <h3 class="text-muted">{{ messageResult }}</h3>
        </div>
        <div *ngIf="showUploadProgress" class="row m-0">
          <span class="box-progress-bar">Carregando a partida {{ uploadProgress | async | number: '1.2-2'}} %</span>
        </div>
    </div>


    <div id="table">
      <table class="table table-hover">
        <thead>
          <tr>
                <td><img style="width: 20%;" src="https://img.icons8.com/emoji/48/000000/military-helmet.png"/>Jogador</td>
                <td><img style="width: 18%;" src="https://img.icons8.com/plasticine/100/000000/gun.png"/>Abates</td>
                <td><img style="width: 23%;" src="https://img.icons8.com/color/48/000000/coffin--v1.png"/>Mortes</td>
                <td><img style="width: 10%;" src="https://img.icons8.com/color/64/000000/skull-heart--v2.png"/>Dano Médio por Rodada</td>
                <td><img style="width: 22%;" src="https://img.icons8.com/fluent/48/000000/wolf.png"/>Clutches</td>
                <td><img style="width: 15%;" src="https://img.icons8.com/color/48/000000/horror.png"/>Primeiro Abate</td>
                <td><img style="width: 22%;" src="https://img.icons8.com/bubbles/50/000000/define-location.png"/>Funções</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of listPlayer">
                <td>{{player.name}}</td>
                <td>{{player.killed}}</td>
                <td>{{player.death}}</td>
                <td>{{player.adr}}</td>
                <td>{{player.clutches}}</td>
                <td>{{player.firstKills}}</td>
                <td>
                  <button class="btn btn-primary my-3 " (click)="createChart(player, template)">Exibir Grafico</button>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Gráfico de Radar</h4>
    <button type="button" class="btn btn-primary" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <canvas id="chart"
            baseChart
            [datasets]="radarChartData"
            [options]="radarChartOptions"
            [labels]="['AWPer', 'Lurker', 'Fragger', 'Support']"
            [chartType]="radarChartType">
    </canvas>
  </div>
</ng-template>



