.container{
  background: #f9f6f6d4;
  height: 95vh;
  border-radius: 20px;
  background-image: url(../assets/csgo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#container{
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#header{
  border-bottom: 1px solid #ccc;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.box-progress-bar{
  border: 2px solid rgb(26, 157, 59);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#table-body tr td{

}

.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
