

<div id="container">
  <div class="container">

    <div class="row m-0 mt-3" style="text-align: center;" id="header">
      <h3>Funções Counter Strike</h3>
    </div>

    <div id="form" class="d-flex justify-content-between mt-3">
        <div>
          <label for="file-upload" class="custom-file-upload btn btn-primary">
            <i class="fas fa-cloud-upload-alt"></i> Carregar DEMO
          </label>
          <input id="file-upload" type="file" (change)="handleFileInput($event)" />
        </div>
        <div *ngIf="messageResult">
          <h3 class="text-muted">{{ messageResult }}</h3>
        </div>
        <div *ngIf="showUploadProgress" class="row m-0">
          <span class="box-progress-bar">Carregando a partida {{ uploadProgress | async | number: '1.2-2'}} %</span>
        </div>
    </div>



    <div id="table">
      <table class="table table-hover">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Killed</td>
                <td>Death</td>
                <td>ADR</td>
                <td>Clutches</td>
                <td>FirstKills</td>
                <td>Funções</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of listPlayer">
                <td>{{player.name}}</td>
                <td>{{player.killed}}</td>
                <td>{{player.death}}</td>
                <td>{{player.adr}}</td>
                <td>{{player.clutches}}</td>
                <td>{{player.firstKills}}</td>
                <td>
                  <button class="btn btn-primary my-3" (click)="createChart(player, template)">Exibição em Grafico</button>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Gráfico de Radar</h4>
    <button type="button" class="btn btn-primary" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <canvas id="chart"
            baseChart
            [datasets]="radarChartData"
            [options]="radarChartOptions"
            [labels]="['AWPer', 'Lurker', 'Fragger', 'Support']"
            [chartType]="radarChartType">
    </canvas>
  </div>
</ng-template>

